.signup-container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 50px;
    background-color:#D6F1FF;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type='text'],
input[type='email'],
input[type='password'],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #c9e2ef;
}

input[type='file'] {
    display: block;
    margin-top: 5px;
}

button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type='submit']:hover {
    background-color: #0069d9;
    color:#2E3F4D;
}

.error {
    color: red;
    margin-bottom: 10px;
}
.text{
    font-weight: 700;
    font-size:large;
    text-decoration: none;
    text-align: center;
    color: #2889ef;
}