.dashboard {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader circle {
  fill: none;
  stroke: #abbac4;
  stroke-width: 6;
  stroke-linecap: round;
  animation: loader 1.5s ease-in-out infinite;
}

.yourInfo {
  /* text-align: center; */
  /* margin-top: 0px; */
  color: #101828;
  /* margin-bottom: 30px; */
  text-transform: uppercase;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */
@media screen and (max-width: 768px) {
}
