.landing-page {
  background-color: #f6f7f9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.landing-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 20px;
  width: 40%;
}

.landing-page .landing-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.landing-content .landing-logo img.symbol {
  width: 200px;
}

.landing-page button {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: #101828;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.landing-page button:hover {
  background-color: #344054;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .landing-content {
    width: 100%;
    height: calc(100vh - 150px);
  }

  .landing-content .landing-logo img.symbol {
    width: 30%;
  }

  .landing-page button {
    font-size: 14px;
    font-weight: 600;
  }
}
