.topbar-container {
  width: calc(100% - 350px);
  height: 100px;
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-bottom: 1px solid #e6e6e6;
}

.topbar-container.topbar-active {
  width: 100%;
}

.topbar-container .logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-container .logo-symbol {
  width: 60px;
  height: max-content;
}

.topbar-container .logo-text {
  width: 250px;
  height: max-content;
}

.topbar-container button {
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #101828;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 0;
}

.topbar-container button.install-btn:hover {
  background-color: #344054;
}

.topbar-right .toggle-btn {
  display: none;
}

/* MEDIA QUERIES FOR RESPONSIVE DESIGN */

@media (max-width: 768px) {
  .topbar-container {
    height: 80px;
    width: 100%;
  }

  .topbar-container button {
    font-size: 14px;
    width: auto;
    height: auto;
    padding: 10px 20px;
  }

  .topbar-container .logo-container {
    display: flex;
    align-items: center;
    gap: 10px;

    flex-direction: column;
  }

  .topbar-container .logo-symbol {
    width: 40px;
    height: max-content;
  }

  .topbar-container .logo-text {
    /* display: none; */
    width: 150px;
  }

  .topbar-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .topbar-right .toggle-btn {
    background-color: transparent;
    border: 0;
    outline: 0;
    color: #101828;
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    display: block;
  }
}
