.chat_starter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.chat_starter_content {
  padding: 50px;
  background-color: #101828;
  border-radius: 30px;
}

.chat_starter_content h1 {
  color: rgb(57, 55, 55);
  color: white;
}

.chat_starter_content a {
  color: white;
  text-decoration: underline;
  font-style: italic;
}
